body {
    background-color: black;
    color: white;
}

.testing {
    color: white;
}

.userInputContainer {
    margin: 0 auto;
    justify-content: center;
    grid-column-end: 3;
    column-gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.fieldset {
    position: relative;
    border: 1px solid white;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    min-width: 575px;

}

.fieldset h1 {
    position: absolute;
    top: 0;
    font-size: 18px;
    line-height: 1;
    margin: -9px 0 0; /* half of font-size */
    background: black;
    padding: 0 3px;
}

.flexContainer {
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid green; */
    grid-column-start: 1;
    text-align: center;
}

.flexContainer p {
    padding: 10px;
    border: 1px dotted blue;
    background-color: rgba(0, 0, 0, 0.5);
}

.flex2 * {
    flex: 2;
}

.flex3 * {
    flex: 3;
}

.flex4 * {
    flex: 4;
}

.hidden {
    display: none;
}

.windDataContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid purple;
    position: relative;
    width: 100%;
    text-align: center;
    margin: 16px 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.windDataContainer > .dataContainer p {
    /* padding-top: 20px; */
    margin: 27px 0 5px 0;
}

.grid {
    display: grid;
    grid-template-columns: minmax(400px, auto) 25%;
    justify-items: stretch;
    /* border: 1px solid pink; */
}

.dataContainer {
    position: relative;
}

.littleLabel {
    background-color: rgba(0, 0, 0);
    border-radius: 5px 5px 0 0;
    position: absolute;
    font-size: 75%;
    left: 5%;
    margin-top: 10px;
    padding: 0 5px;
}

.loadingWidget{
    position: absolute;
    bottom: 2%;
    right: 5%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 32px;
    /* height: 64px; */
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.weatherIcon {
    display: inline-block;
    /*padding: -10px; */
    width: 128px;
    height: 128px;
    border: 1px solid red;
}

.weatherIconContainer {
    position: absolute;
    right: 3%;
    bottom: 29%;

}